@import "./base.css";

/*****************************************/
/*Styling the overall inventory component*/
/*****************************************/

.overall-container {
    width: 1096px;
    height: 188px;
    border-radius: 8px;
    background: var(--white); 
    margin: 22px 32px 22px 32px;
    font-family: inherit;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2px;
}

.inventory-record {
    display: flex;
    justify-content: center;
    gap: 140px;
    align-items: center;
}

.flex-goes-here {
    display: flex;
    gap: 30px;
    justify-content: space-evenly;
    align-items: center;
}

.inventory-text-header {
    display: flex;
    justify-content: stretch;
    align-items: center;
    gap: 190px;

}
.inventory-text-header p {
    font-family: inherit;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    line-height: 24px;
}

.inventory-text-header p:first-child {
    color: var(--primary-500);
    margin-left: 35px;
}

.inventory-text-header p:nth-child(2) {
    color: #E19133;
}
.inventory-text-header p:nth-child(3) {
    color: #845EBC;
}
.inventory-text-header p:last-child {
    color: var(--red-400);
}

.inventory-text-header p {
    margin: 0;
    padding: 0;
}

.grey-400 {
    font-family: inherit;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: var(--Grey-400);
}
.grey-600 {
    font-size: 16px;
    font-style: inherit;
    font-weight: 600;
    line-height: 24px;
}

.product-container {
    background-color: var(--white);
    width: 1096px;
    height: 606px;
    margin: 32px;
    border-radius: 8px;
}

.product-header h2 {
    font-family: inherit;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
}

/*****************************/
/*Styles for Product section*/
/***************************/


/*****  Product header styling    *****/

.product-display {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    gap: 550px;
}

.product-element-container {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.filter-section {
    display: flex;
    align-items: center;
    border: 1px solid var(--Grey-100);
    padding: 10px 16px;
    gap: 8px;
    border-radius: 8px;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    background-color: var(--white);

    font-family: inherit;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    color: var(--Grey-600); 

}
.filter-section:hover {
    background-color: var(--primary-50);
    cursor: pointer;
}
.filter-section p {
    margin: 0px;
}

.product-btn {
    position: relative;
    border: 1px solid var(--Grey-100);
    border-radius: 8px;
    padding: 10px 16px;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    background-color: white;

    font-family: inherit;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    color: var(--Grey-600);

}
.product-btn:hover {
    background-color: var(--primary-50);
    cursor: pointer;
}
.blue-btn {
    border-radius: 4px;
    background-color: var(--Primary-primary-600);
    color: white;
}

.blue-btn:hover {
    background-color: var(--primary-500);
    border-radius: 6px;
}